@use "../globals" as *;

html {
  scroll-behavior: smooth;
}

body {
  font-size: 93.375%;
  font-family: "Noto Sans JP", sans-serif;
}

// !!!!! WEBフォントの指定で2年前から変わったところがあるよう。!!!!!
// 講義のような項目はなかった。
// google fontsに『フォント名: CSS class for a variable style』という項目あり、
// 以下のように設定してもいちいちクラスをつけるのは面倒でできない。
// 何か意味があると思うのでここに記しておく。
.noto-sans-jp {
  font-family: "Noto Sans JP", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  &__md {
    font-weight: 500;
  }
}

// image
img {
  // reset.cssで設定されているからトル
  // max-width: 100%;
  vertical-align: bottom;
}

ul {
  padding: 0;
  li {
    list-style-type: none;
  }
}

a {
  text-decoration: none;
}

// margin, padding
.mb-sm {
  margin-bottom: 16px !important;
}

.mb-lg {
  margin-bottom: 80px !important;

  @include mq(lg) {
    margin-bottom: 150px !important;
  }
}

.pb-sm {
  padding-bottom: 16px !important;
}

.pb-lg {
  padding-bottom: 80px !important;
  @include mq(lg) {
    padding-bottom: 150px !important;
  }
}

.content-width {
  width: 90%;
  margin: 0 auto;
  max-width: $contentMaxWidth;
}

.flex {
  display: flex;
  // flex-direction: column;
  @include mq(md) {
    flex-direction: row;
    flex-wrap: wrap;
  }
}

.purple {
  color: $cWineRed;
}

#main-content {
  position: relative;
  z-index: 0;
}

// font
.font-sm {
  font-size: 14px;
  @include mq(lg) {
    font-size: 16px;
  }
}
.font-md {
  font-size: 17px;
  @include mq(lg) {
    font-size: 19px;
  }
}
.font-lr {
  font-size: 17px;
  @include mq(lg) {
    font-size: 23px;
  }
}
.font-lg {
  font-size: 25px;
  @include mq(lg) {
    font-size: 36px;
  }
}

.main-title {
  @extend .font-lg;
  font-weight: 600;
  margin-bottom: 0;
  display: block;
}

.sub-title {
  @extend .font-sm;
  @extend .mb-sm;
  color: $cSubTitle;
}

.font-12px {
  font-size: 12px;
}

.font-14px {
  font-size: 14px;
}


.modal {
  @extend .content-width;
  &__inner {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    padding: 80px 0 40px;
    background-color: rgba($color: $cBlack, $alpha: .9);
    overflow-y: scroll;
    transform: translateX(-100%);
    transition: .5s;
    opacity: 1;
    z-index: 100;
    @include mq(md) {
      padding: 90px 0 60px;
    }
    @include mq(lg) {
      padding: 100px 0;
    }
    &.active {
      transform: translateX(0);
      opacity: 1;
    }
  }
  &__window {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 60px;
    flex-wrap: nowrap;    
  }
  &__image {
    flex-shrink: 0;
    width: 90%;
    overflow: hidden;
    @include mq(lg) {
      width: 900px;
    }
    & img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  &__toggle-btn {
    position: fixed;
    top: 15px;
    right: 15px;
    margin: 0;
    padding: 10px 15px;
    color: $cWhite;
    background-color: $cTheme;
    border-radius: 5px;
    transition: .5s;
    transform: translateX(400%);
    visibility: hidden;
    opacity: 0;
    z-index: 101;
    @include mq(md) {
      top: 20px;
      right: 20px;
    }
    @include mq(lg) {
      top: 20px;
      right: 30px;
    }
    &.active {
      transform: translateX(0);
      visibility: visible;
      opacity: 1;
    }
  }
}
